.cabal-sandbox/
.stack-work/
cabal.sandbox.config
dist
target
node_modules
Analysis/CFG/Build_old.hs
Analysis/CFG/output.dot
Analysis/CFG/output.png
GA
Genetic/CrossoverJS_new.hs
Genetic/CrossoverJS_old.hs
Graphalyze-0.14.1.1/
JS/logger.js
JS/pahntomjs/
LICENSE
SYB/
TODO.org
doc/
file.dot
goal.txt
njt-oct00.pdf
parse.xml
examples/casestudies/moodle